body {
  width: 100%;
  background: #eeeeee; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

header {
  background-color: #000;
  background: url("../img/headerBG.jpg") 15px 0 repeat-x; }

.wrapper {
  width: 950px;
  margin: 0 auto; }

.top-head {
  padding: 22px 0 30px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .top-head .logo {
    background: url(../img/logo.png);
    width: 260px;
    height: 58px;
    text-indent: -9999px;
    overflow: hidden;
    display: block; }

.search-form form {
  width: 235px;
  height: 27px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 3px 3px 0 0 #eee;
  margin-right: 2px; }
  .search-form form input {
    width: 150px;
    height: 27px;
    background: none;
    border: none;
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    line-height: 16px; }
  .search-form form button {
    width: 75px;
    height: 27px;
    background-color: #00b0e2;
    border-radius: 5px;
    border: none;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    outline: none;
    line-height: 15px;
    font-family: Arial;
    float: right;
    padding-right: 11px; }
.search-form button:hover {
  cursor: pointer; }
.search-form button:active {
  background-color: #0488b6; }

.bottom-head {
  background-color: #00afe1;
  width: 100%;
  border-top: 1px solid #33c0e8; }
  .bottom-head ul {
    display: flex;
    justify-content: space-between;
    background-color: #00afe1; }
    .bottom-head ul a {
      color: #fff;
      padding: 18px 17px;
      display: block;
      font-weight: bold;
      font-size: 13px;
      font-family: Arial;
      position: relative;
      box-sizing: border-box; }
    .bottom-head ul a:hover {
      background: linear-gradient(to bottom, #1a1a1a, #343434);
      padding-top: 19px;
      margin-top: -1px;
      position: relative; }
    .bottom-head ul a:hover:after {
      width: 100%;
      content: '';
      display: block;
      height: 10px;
      border-radius: 0 0 5px 5px;
      background: #343434;
      position: absolute;
      z-index: 20;
      left: 0;
      top: 50px; }

.main-content-wrapper {
  position: relative;
  z-index: 1;
  border-top: 1px solid #fff; }

.main-content .title {
  background: linear-gradient(#646464, #020202); }
  .main-content .title h2 {
    z-index: 1;
    position: relative;
    font-size: 44px;
    font-weight: normal;
    padding-bottom: 16px;
    padding-top: 23px;
    font-family: "Stymie XBd BT";
    word-spacing: -8px;
    background: #eeeeee;
    mix-blend-mode: lighten; }
.main-content .main-blog {
  display: flex;
  align-items: flex-start; }
.main-content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start; }
.main-content ul li {
  box-sizing: border-box;
  width: 310px;
  padding: 29px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }
.main-content ul li img {
  box-sizing: border-box;
  padding: 4px;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  width: 250px;
  height: 160px;
  align-self: center;
  margin: 0 0 6px 0; }
.main-content ul li h3 {
  font-size: 24px;
  line-height: 25px;
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 9px; }
.main-content ul li p {
  font-size: 12px;
  line-height: 18px;
  font-family: Arial;
  padding-top: 8px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #cccccc; }

.numbering-of-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 9px;
  padding-bottom: 32px; }
  .numbering-of-page button:last-child {
    width: 92px; }
  .numbering-of-page button {
    width: 115px;
    height: 24px;
    font-size: 12px;
    line-height: 16px;
    background-color: #00b0e2;
    border-width: 0;
    cursor: pointer;
    color: #fff;
    outline: none;
    text-align: center; }
  .numbering-of-page button:active {
    background-color: #0488b6; }
  .numbering-of-page ul {
    display: flex;
    align-self: center; }
    .numbering-of-page ul li {
      display: inline-block; }
      .numbering-of-page ul li a {
        display: block;
        font-size: 12px;
        line-height: 15px;
        padding: 6px 10px 4px 10px;
        color: #777777;
        font-family: Arial; }
      .numbering-of-page ul li .active {
        background-color: #1e1e1e;
        cursor: default;
        color: #fff; }
      .numbering-of-page ul li a:hover {
        background-color: #1e1e1e;
        color: #fff; }

.blog {
  padding-top: 5px;
  padding-bottom: 27px;
  border-bottom: 1px solid #292929;
  background-color: #1e1e1e;
  box-shadow: inset 0 10px 10px 0 #030303; }
  .blog .wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start; }
    .blog .wrapper .article-blocks {
      width: 277px; }
      .blog .wrapper .article-blocks header {
        background-color: #1e1e1e;
        background: none;
        padding-bottom: 9px;
        margin-bottom: 9px;
        border-bottom: 1px;
        border-bottom-style: dashed;
        border-bottom-color: #cccccc; }
        .blog .wrapper .article-blocks header h3 {
          font: 24px/47px "Stymie XBd BT";
          color: #fff;
          font-weight: bold; }
        .blog .wrapper .article-blocks header p {
          font: 12px/18px Arial;
          color: #acacac; }
          .blog .wrapper .article-blocks header p span {
            color: #00b0e2; }
      .blog .wrapper .article-blocks .main {
        padding-bottom: 10px;
        margin-bottom: 6px;
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: #cccccc; }
        .blog .wrapper .article-blocks .main p {
          font: 12px/18px Arial;
          color: #acacac; }
      .blog .wrapper .article-blocks footer {
        float: right; }
        .blog .wrapper .article-blocks footer a {
          color: #00b0e2;
          font: 12px/18px Arial; }
    .blog .wrapper .comments header {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0; }
    .blog .wrapper .comments p {
      font: 12px/18px Arial;
      color: #acacac;
      padding: 9px 0 9px 0;
      border-bottom-width: 1px;
      border-bottom-style: dashed;
      border-bottom-color: #cccccc; }
    .blog .wrapper .comments p:first-child {
      padding: 0 0 8px 0; }
    .blog .wrapper .comments p:last-child {
      padding-bottom: 0;
      border-bottom: none; }
    .blog .wrapper .comments span {
      color: #fff; }

.contacts {
  padding-top: 26px;
  padding-bottom: 33px;
  background-color: #000000; }
  .contacts address {
    font-size: 12px;
    line-height: 18px;
    font-family: Arial;
    color: #666666;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
